<header>
    <nav>
        <a href="/">Movie Store</a>
        <ul>
            <li><a href="/movies">Movies</a> </li>
            <li><a href="/directors">Directors</a> </li>
            <li><a href="/movies/new">Add Movie</a></li>
            <li><a href="/directors/new">Add Director</a></li>
        </ul>
    </nav>
</header>